* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
h1, h2, h3, h4, h5, p, a, span {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header {
    margin-bottom: 1rem;
}
body {
    background-color: #000;
}

.logo-header {
    width: 6rem;
    height: fit-content;
}

.header-icon {
    margin-right: 5px;
}

.btn-header {
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    border-radius: 30px;
    margin: 5px;
}

.activate-btn-header {
    background-color: #006dff;
    border: none;
}

.footer-content {
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: grid;
    place-items: center;
    margin-top: 4rem;
}
.presentation-logos-home {
    width: 80%;
    margin: auto;
    height: fit-content;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.logo-home-presentation {
    width: 15rem;
    height: fit-content;
}

.title-home {
    font-family: 'Kanit', sans-serif;
}

.text-presentation-primary {
    width: 55%;
    margin: auto;
}

.text-presentation-secondary {
    width: 80%;
    margin: auto;
}

.english-flag {
    width: 8rem;
    margin: 0 auto;
}

.frameworks-logos {
    width: 8rem;
}

.button-know-cousers {
    width: 18rem;
    background-color: #006dff;
    border: 1px solid #00000000;
    border-radius: 30px;
    margin: auto;
}

.img-card {
    border-radius: 10px;
}
.search-for-course {
    width: 40%;
    margin: auto;
}

.input-search-course {
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    border: 1px solid #00000000;
    padding-left: 20px;
}
.card-gm {
    background-color: #000;
}

.image-cover-show {
    width: 26rem;
    margin: auto;
    border-radius: 10px;
}

.big-card-show {
    width: 60%; 
    margin: auto;
}

.card-course {
    width: 18rem;
    border: 1px solid white;
    border-radius: 10px;
    height: fit-content;
}

.div-border {
    border-left: solid 1px white;
}
.text-about {
    width: 50%;
}

@media screen and (max-width: 880px) {
    .btn-header {
        width: 95%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid white;
        border-radius: 30px;
        margin: 10px auto;
    }
    .presentation-logos-home {
        width: 100%;
        height: fit-content;
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .logo-home-presentation {
        width: 5rem;
        height: fit-content;
    }

    .text-presentation-primary, .text-presentation-secondary {
        width: 100%;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .frameworks-logos {
        width: 5rem;
    }
    .button-know-cousers {
        margin: auto;
    }
    .search-for-course {
        width: 95%;
    }
    
    .input-search-course {
        width: 100%;
        margin-bottom: 2rem;
    }
    .courses-list {
        width: 100%;
        height: fit-content;
    }
    .image-cover-show {
        width: 80%;
        margin: auto;
        border-radius: 10px;
    }
    .big-card-show {
        width: 100%;
    }

    .card-show {
        width: 95%;
        margin: auto;
    }

    .card-course {
        width: 80%;
        margin-bottom: 0;
    }

    .div-border {
        border-left: solid 2px rgba(255, 255, 255, 0);
    }
    .text-about {
        width: 95%;
    }

}